- if resource.errors.any?
  #error_explanation
    - if controller_name != 'sessions'
      %h2.error-header
        新規登録に失敗しました
    %ul
      - resource.errors.full_messages.each do |message|
        %li.error-detail= message