.group_wrapper{
  background-color: #F9F9F5;
  border-bottom: 1px solid;
}
.container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.content{
  display: inline-block;
  padding: 20px, 0;
  font-size: 14px;
  position: relative;
  width: 40%;
}
.group_form {
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
}
