*{
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  color:  #172b4d;
}
body{
  width: auto;
}
table{
    table-layout: fixed;
    min-width: 100%;
}
p{
  word-break : break-all;
  
}
th{
  width:  100%;
  min-width:  100%;
}
td{
  width: 272px;
  min-width: 272px;
  height: auto;
  border-collapse: separate;
  display: inline-block;
  padding: 0!important;;
  width: 272px;
  margin: 0 4px;
}
.content_main{
  width: auto;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  background: url("background-image.jpg");
    .task-box-wrapper{
      width: 100%;
      height: auto;
      float: right;
      background-color: blanchedalmond;
      background-color: #dfe1e6;
      border-radius: 3px;
      &__contentent{
        padding: 0 15px 15px 20px;
        position: relative;
        &__task-header{
          min-height: 20px;
          padding: 10px 8px;
          .task-title{
            height: 28px;
            overflow: hidden;
            display: block;
            line-height: 20px;
            font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
            font-size: 14px;
            font-weight: 600;
            margin: -4px 0;
            line-height:20px;
          }
          .task_icons{
            border-radius: 3px;
            color: #6b778c;
            padding: 6px 0;
            display: inline-block;
            float: right;
            width: 60px;
            margin: 5px;
            &__delete-button{
              width: 20px;
              height: 20px;
            }
            &__edit-button{
              width: 20px;
              height: 20px;
            }
          }
        }
        &__cards{
          margin: 0 4px;
          padding: 0 4px;
          z-index: 1;
          min-height: 0;
          #card-pop-up{
            overflow: hidden;
            position: relative;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 0 rgba(9,30,66,.25);
            cursor: pointer;
            display: block;
            margin-bottom: 8px;
            min-height: 20px;
            visibility: hidden;
            padding: 0; 
            min-height: 80px;
            .card-detail{
              overflow: hidden;
              position: relative;
              background-color: #fff;
              border-radius: 3px;
              box-shadow: 0 1px 0 rgba(9,30,66,.25);
              cursor: pointer;
              display: block;
              margin-bottom: 8px;
              min-height: 30px;
              visibility: visible;
              height: 100%;
              .card-title{
                text-align: left;
                padding-top: 0.5rem;
                padding-left: 0.5rem;
                word-wrap: break-word;
                white-space: pre-wrap;
                width: 100%;
                position: relative;
                top: -20px;
              }
            }
            .card-icons{

              .card-move-r-icon{

              }
              .card-move-l-icon{

              }
            }
          }

          &__add-button{
            padding: 8px 0;
            border: none;
            border-radius: 3px;
            background: #dfe1e6;
            color: #6b778c;
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            width: 100%;
            text-align: left;
          }
        }
      }
    }
      .add-list-wrapper{
        background-color: rgba(0,0,0,.12);
        cursor: pointer;
        color: #fff;
      }
  }


.task-header{
  width: 100%;
}
.task_title{
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
}

.edit_title_icon {
  float: right;
  padding-top: 0.09rem;
}
.trash_title_icon{
  float: right;
  margin-right: 8px;
}

#task-box-add:hover{
  background-color: red;
}
#new_list{
  float: left;
}


.side_bar{
  display: none;
}
.table{

}
.aaew{
  max-width: 200px;
  display: block;
  .nn{
    font-size: 25px;
    display: flex;
  }
}
.card-title-field{
  height: 54px;
  overflow: hidden;
  margin-bottom: 4px;
  max-height: 162px;
  min-height: 54px;
  padding: 0;
  width: 100%;
  color: #172b4d;
  border-radius: 3px;
  display: none;
}
.new-card-buttons{
  display: flex;
  &__card-new-button{
    box-sizing: border-box;
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
    margin: 8px 4px 0 0;
    padding: 6px 12px;
    text-align: center;
    display: block;
    margin: 0 0 10px;
    display: none;
  }
  &__remove-button{
    font-size: 40px;
    line-height: 28px;
    padding-left: 10px;
    font-weight: 100;
    color: #6b778c;
    font-family: trellicons;
    display: none;
  }
}
.new-card-form{
  width: auto;
  height: auto;
  display: block;
}
    #task-box-add{
      cursor: pointer;
      padding: 6px 8px;
      display: contents;
      text-decoration: none;
      padding-right: 3px;
      width: 272px;
      visibility: visible;
      .task-box-add__text{
        line-height: 58px;
        text-align: center;
        opacity: 0.6;
        background-color: #6b778c;
      }
    }
    .task-box-add-wrapper{
      width: 100%;
      height: auto;
      float: right;
      padding: 15px 15px 15px 20px;
      visibility: hidden;
      &__content{
        opacity: 1;
      }
    }
.task-box-add__text:hover{
  background-color:yellow;
  display: block;
}
.task-box-add-wrapper:hover{
  background-color:yellow;
  display: block;
}
.modal{
  top: auto!important;
  left: auto!important;
}