*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", "Droid Sans", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
}

.group-wrapper{
  background-color: #F9F9F5;
  border-bottom: 1px solid;
  padding: 0;
  margin: 0;
  &__errors{
    &__message{
      color: red;
    }
  }
  &__container{
    width: 100%;
    text-align: center;
    height: 460px;
    &__content{
      padding: 30px 0;
      font-size: 14px;
      height: 100%;
      &__box{
          padding: 24px 0;
        .new-group-form{
          box-sizing: border-box;
          max-width: 700px;
          width: 100%;
          padding: 0 10px;
          margin: 0 auto;
          &__box{
            &__field-group{
              text-align: center;
              &__field{
                border: 1px solid #ccc;
                border-radius: 3%;
                padding: 20px 30px;
                &__group-name{
                  display: flex;
                  justify-content: space-between;
                  margin: 0 0 15px 0;
                  .field_with_errors{
                    .new-group-text-field{
                      width: 335px
                    }
                  }
                  &__tag{
                    line-height: 2rem;
                    padding-right: 20px;
                  }
                  .new-group-text-field{
                    height: 2rem;
                    padding: 10px;
                    width: 335px;
                    padding: 10px;
                    border-radius: 0;
                    box-shadow: none;
                  }
                } 
                &__member-search{
                  display: flex;
                  justify-content: space-between;
                  margin: 10px 0 15px 0;
                  &__tag{
                    line-height: 2rem;
                    padding-right: 20px;
                  }
                  &__text-field{
                    height: 2rem;
                    padding: 10px;
                    width: 335px;
                    padding: 10px;
                    border-radius: 0;
                    box-shadow: none;
                  }
                }
                &__member-list{
                  display: flex;
                  justify-content: space-between;
                  margin: 10px 0 15px 0;
                  &__text{
                    line-height: 2rem;
                    width: 190px;
                    padding-top: 20px;
                    text-align: left;
                    &__user-collection-box{
                      font-size: 20px;
                      padding-left: 50px;
                    }
                  }
                }
              } 
            }
          }
        } 
      } 
      &__button-box{
        #create-button{
          width: 680px;;
          position: relative;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          margin: 0 auto;
        }
      }
    }
  }
}
.field_with_errors{
  height: 0;
  display: inline;
}
#group_user_ids_7::before{
  content: "\A" ;
  white-space: pre;
}