*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica Neue", "Droid Sans", "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Meiryo", "メイリオ", "Osaka", "MS PGothic", arial, sans-serif;
}

.group-wrapper{
  background-color: #F9F9F5;
  border-bottom: 1px solid;
  padding: 0;
  margin: 0;
  &__container{
    width: 100%;
    text-align: center;
    &__content{
      padding: 20px 0;
      font-size: 14px;
      &__box{
        margin-top: 24px;
        margin-bottom: 24px;
        .new-group-form{
          box-sizing: border-box;
          max-width: 550px;
          width: 100%;
          padding: 0 10px;
          margin: 0 auto;
          &__box{
            &__field-group{
              text-align: center;
              &__field{
                border: 1px solid #ccc;
                border-radius: 3%;
                padding: 20px 30px;
                &__group-name{
                  display: flex;
                  justify-content: space-between;
                  margin: 0 0 15px 0;
                  &__tag{
                    line-height: 2rem;
                    padding-right: 20px;
                  }
                  .new-group-text-field{
                    height: 2rem;
                    padding: 10px;
                    width: 55%;
                    padding: 10px;
                    border-radius: 0;
                    box-shadow: none;
                  }
                } 
                &__member-search{
                  display: flex;
                  justify-content: space-between;
                  margin: 10px 0 15px 0;
                  &__tag{
                    line-height: 2rem;
                    padding-right: 20px;
                  }
                  &__text-field{
                    height: 2rem;
                    padding: 10px;
                    width: 55%;
                    padding: 10px;
                    border-radius: 0;
                    box-shadow: none;
                  }
                }
                &__member-list{
                  display: flex;
                  justify-content: space-between;
                  margin: 10px 0 15px 0;
                }
              } 
            }
          }
        } 
      } 
      &__button-box{
        .group-new-button{
          background-color: #5aac44;
          box-shadow: none;
          border: none;
          color: #fff;
          cursor: pointer;
          font-weight: 400;
          line-height: 20px;
          margin: 8px 4px 0 0;
          padding: 6px 12px;
          text-align: center;
          display: block;
          margin: 0 0 10px;
          margin: 0 auto;
        }
      }
    }
  }
}